@charset "utf-8";
/* CSS Document */

/* Geral */
body{
	min-width:1024px;
	margin:20px;
}

a{
	outline:none;
	text-decoration:none;
}
a:LINK{color:blue;}
a:HOVER{text-decoration:underline;}

strong{font-weight:bold;}

*.left{float:left;}
*.right{float:right;}
*.clear{clear:both;}
*.small{font-size:small;}

/* Header */
div#header{
	height:160px;
}

div#logo{
	float:left;
	margin:10px 10px 10px 100px;
}

div#login{
	float:right;
	margin:10px 20px;
	text-align:right;
}

div#login-main{text-align:right;}

div#login-sub{text-align:left;}

/* Container */
div#container{}

/* Área de Busca */
div#left-bar{
	float:left;
	width: 25%;
	border:thin solid black;
	height:500px;
}


/* Área de conteúdo */
div#content{
	float:right;
	width:74%;
	min-height:500px;
	border:thin solid black;
}

div#content-list{
	width:45%;
	overflow:auto;
	border:thin solid black;	
	height:500px;
}

div#content-details{
	width:54%;
	overflow:auto;
	border:thin solid black;
	height:500px;
}

div.error-message{border:medium dashed red;}

div#photo-gallery{
	border:thin dotted black;
	width:90%;
	height:50px;
}