/*CSS Document*/
form{margin:0}

a:VISITED{color: blue;}

.box {
    border: 1px solid orange;
    height: 100px;
    left: 50px;
    position: relative;
    top: 50px;
    width: 100px;
	text-align:center;
	background:url("../img/backyardigans-1-thumb.jpg");
}

.right{float:right;}
.left{float:left;}


#desktop {
    border: 1px solid;
    height: 550px;
    width: 1000px;
    margin: 0 auto 10px auto;
}

#toolbar {
    border: 1px solid;
    width: 1000px;
    height: 190px;
    margin: 0 auto;
}

#menu, #sub-menu{margin:20px}

#menu li{list-style:none;margin-bottom:5px;}

#selectable{
    left: 50px;
    position: relative;
    text-align: center;
    top: 60px;
    width: 90%;
}

/*CSS to work with selectable elements*/
#selectable .ui-selecting{background:#F9EACC;}
/*#selectable .ui-selected{background:#FCD894;}*/