/*CSS Document*/
form{margin:0}
ul{padding:0}

a:VISITED{color: blue;}

html{background:#259f92;}
body{
	margin:0 auto;
	background:url(../img/bg.jpg) repeat-x;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1{
    font-family: "Comic Sans MS",cursive;
    font-size: 32pt;
    margin-bottom: 15px;
    text-align: center;
    text-decoration: underline;
}

.box {
    border: 1px solid orange;
    height: 100px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100px;
	text-align:center;
	background:#dbf7bb;
}

.right{float:right;}
.left{float:left;}


#desktop {
    border: 2px solid;
    height: 550px;
    width: 1000px;
    margin: 0 auto 10px auto;
	background:#95b76d;
	-moz-border-radius:10px; 
	-webkit-border-radius:10px;
}

#toolbar {
    border: 2px solid;
    width: 1000px;
    height: 130px;
    margin: 0 auto;
	background:#95b76d;
	-moz-border-radius:20px; 
	-webkit-border-radius:20px;	
}

#menu{margin:10px 0 0 50px;}

#menu li{list-style:none;margin-bottom:5px;}

#sub-menu{margin:20px 0 20px 20px;}

#selectable, #media{
    left: 0;
    position: relative;
    top: 0;
}

/*CSS to work with selectable elements*/
#selectable .ui-selecting{background:#F9EACC;}
#selectable .ui-selected{background:#dbf7bb;}
