/*
* Designed by: Matheus Ricardo Uihara Zingarelli
* Date: January, 2011
* E-mail: zingarelli.m@gmail.com
*
* Last change date: January, 2011
* By: Matheus Ricardo Uihara Zingarelli
*/
@charset "utf-8";
/* CSS Document */

/* 
-- Colors --
body: #4bc74e
body-content: #64dd67
link: #c3ebac
text: #014603
search: #e1f4c3
*/

/* Geral */
body{
	width:1000px;
	margin:20px auto;
}

p{margin:5px 5px 0 0;}

h1{
	font-family:verdana;
	font-size:22px;
	font-weight:bold;
	margin:20px 5px 10px;
	text-align:center;
}

a{outline:none; text-decoration:none; color:#c3ebac}
a:hover{text-decoration:underline;}

strong{font-weight:bold;}
em{font-style:italic;}

hr{width:70%;}

*.left{float:left;}
*.right{float:right;}
*.clear{clear:both;}
*.small{font-size:small;}

/* Container */
#container{
	background:#4bc74e;
	width:989px;
	margin:0 auto;
}
#container-top{background:url(../img/body-top.png) no-repeat top center; height:22px;}

/* Header */

/* Footer */
#footer{background:url(../img/body-bottom.png) no-repeat top center; height:187px;}